:root {
  --colorNavyBlue: #2e2f42;
  --fonWebsite: #ffffff;
  --logoAndButtonText: #4d5ae5;
  --backgroundButton: #f4f4fd;
  --contactColor: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--fonWebsite);
  color: var(--contactColor);
}
ul {
  padding-left: 0;
}

.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--logoAndButtonText);
  margin-right: 76px;
}

.logo-highlight {
  color: var(--colorNavyBlue);
}

.header-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
  padding: 24px 0;
  display: block;
}
.header-nav-list:hover,
.header-nav-list:focus {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
  color: var(--contaktColor);
}

.header-contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
  font-style: normal;
}
.header-contacts-list:hover,
.header-contacts-list:focus {
  color: #404bbf;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.order-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--logoAndButtonText);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fonWebsite);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.button-list-text {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundButton);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--logoAndButtonText);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.button-list-text:hover,
.button-list-text:focus,
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  color: var(--fonWebsite);
  border: 1px solid transparent;
}

.solutions-section {
  padding: 120px 0;
}
.title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  display: block;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fonWebsite);
  margin: 0 auto;
  margin-bottom: 48px;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--colorNavyBlue);
  margin-bottom: 72px;
}
.section-team {
  background-color: var(--backgroundButton);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-card {
  background-color: var(--fonWebsite);
  min-height: 380px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
  margin-bottom: 8px;
}
.portfolio-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backgroundButton);
  max-width: 264px;
}
.footer {
  display: flex;
  justify-content: flex-start;
  background-color: var(--colorNavyBlue);
  padding: 100px 0;
}
.logo-studio {
  color: var(--backgroundButton);
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--logoAndButtonText);
  display: inline-block;
  margin-bottom: 16px;
}

Reset h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.container-nav {
  display: flex;
  gap: 40px;
}
.main-content {
  height: 600px;
  padding: 188px 0;
  background-color: var(--colorNavyBlue);
  background-image: url(../images/index/people-office.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-feature {
  width: calc((100% - 72px) / 4);
}

.list-feature {
  display: flex;
  gap: 24px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.what-section {
  padding-bottom: 120px;
}

.we-are-doing {
  display: flex;
  gap: 24px;
}
.our-works {
  width: calc((100% - 48px) / 3);
}

.team {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.index-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
  margin-bottom: 8px;
  text-align: center;
}
.index-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
  text-align: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px 32px 16px;
}

.filters-container {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
  height: 48px;
}
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-cards {
  width: calc((100% - 48px) / 3);
}
.project-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.main-block {
  padding-top: 96px;
  padding-bottom: 120px;
}
.social-media {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
}
.social-media .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.customers-list {
  display: flex;

  gap: 24px;
}
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-customers {
  display: flex;
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
}
.icon-solution {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.media-link {
  display: flex;
  gap: 8px;
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
